/* INDEX */
/* Body */
body {
    margin: 0;
    padding-bottom: 60px;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", Georgia, serif;
}

/* Header Logo */
header img {
    height: 125px;
    margin-right: 10px;
    border-radius: 20px;
    margin-right: 15px;
}


/* Header Navigations */
header nav {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", "Cinzel", serif;
}


header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    border-bottom: 1px solid white;
}

/* Banners */
#home-banner {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://images.unsplash.com/photo-1568792923760-d70635a89fdc?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dW5pdmVyc2l0eXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#academics-banner {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://images.unsplash.com/photo-1758270705518-b61b40527e76?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2xhc3MlMjB1bml2ZXJzaXR5fGVufDB8fDB8fHww");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#gallery-banner {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://plus.unsplash.com/premium_photo-1682097066897-209d0d9e9ae5?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cGhvdG9ncmFwaHl8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Banner Texts */
#home-banner h3 {
    font-size: 50px;
    font-family: "Playfair Display", "Cinzel", serif;
}

#academics-banner h3 {
    font-size: 50px;
    font-family: "Playfair Display", "Cinzel", serif;
}

#gallery-banner h3 {
    font-size: 50px;
    font-family: "Playfair Display", "Cinzel", serif;
}

/* Main */
main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main p {
    max-width: 1200px;
    margin: 15px;
    font-size: 18px;
    line-height: 1.5;
}


/* Section */
section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1px
}

#achievements-section {
    background-color: beige;
    border: 2px solid black;
    padding: 20px;
}

#history-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 800px 800px 800px;
    align-items: center;
    justify-items: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.history-header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 80px;
    text-align: center;
}

/* Overlay Section*/
.image1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 1000px;
    height: 750px;
    padding-left: 20px;
    padding-right: 20px;
}

.overlay1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
    opacity: 0;
    width: 1000px;
    height: 750px;
    align-content: center;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.overlay1:hover {
    opacity: 1;
}

.image2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 1000px;
    height: 750px;
}

.overlay2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
    opacity: 0;
    width: 1000px;
    height: 750px;
    align-content: center;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.overlay2:hover {
    opacity: 1;
}

.image3 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    width: 1000px;
    height: 750px;
}

.overlay3 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
    opacity: 0;
    width: 1000px;
    height: 750px;
    align-content: center;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.overlay3:hover {
    opacity: 1;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    border-bottom: 1px solid white;
}


/* ACADEMICS */
#acad-offering {
    height: 400px;
    overflow-y: scroll;
}

main label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Playfair Display", "Cinzel", serif;
}

/* Undergraduate Dropdown*/
#ugrad-toggle {
    display: none;
}


.ugrad-degrees {
    display: block;
    width: 1000px;
    height: 0px;
    border-top: 2px solid black;
}

.ugrad-degrees p {
    font-size: 0px
}


#ugrad-toggle:not(:checked)  + label + .ugrad-degrees {
    display: block;
    width: 1000px;
    height: 275px;
    border-top: 2px solid black;
}

#ugrad-toggle:not(:checked) + label + .ugrad-degrees p {
    font-size: 18px;
}

/* Master's Degree Dropdown*/
#masters-toggle {
    display: none
}

.masters-degrees {
    display: block;
    width: 1000px;
    height: 0px;
    border-top: 2px solid black
}

.masters-degrees p {
    font-size: 0px;
}

#masters-toggle:checked  + label + .masters-degrees {
    display: block;
    width: 1000px;
    height: 275px;
    border-top: 2px solid black;
}

#masters-toggle:checked  + label + .masters-degrees p {
    font-size: 18px
}


/* Doctorate Degree Dropdown */
#doctorate-toggle {
    display: none;
}

.doctorate-degrees {
    display: block;
    width: 1000px;
    height: 0px;
    border-top: 2px solid black
}

.doctorate-degrees p {
    font-size: 0px;
}


#doctorate-toggle:checked + label + .doctorate-degrees {
    display: block;
    width: 1000px;
    height: 275px;
    border-top: 2px solid black
}

#doctorate-toggle:checked + label + .doctorate-degrees p {
    font-size: 18px;
}


/* International Accreditations and Awards */
#accreditations-awards {
    display: flex;
    overflow-y: scroll;
    height: 150px;
    gap: 50px;
    padding: 20px;
    border: 2px solid black;
    background-color: beige;
}

#accreditations-awards div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    width: 350px;
    height: 100x;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 6px;
    font-weight: bold;
    text-align: center;
}

#accreditations-awards div a img {
    width: 150px;
    height: 50px;
    margin: 5px;
}

#accreditations-awards div:hover {
    border: 2px solid black;
}

#collection {
    display: block;
    background-color: beige;
    text-align: center;
}

/* Gallery */
.gallery-section {
    display: grid;
    grid-auto-columns: 250px;
    grid-auto-rows: 175px;
    border: 2px solid black;
    gap:20px;
    grid-template-areas:
    "box-1 box-1 box-2 box-2"
    "box-1 box-1 box-4 box-3"
    "box-5 box-6 box-6 box-3";
    overflow: scroll;
}

@media(max-width: 60em){
    .gallery-section {
    grid-template-areas:
    "box-1 box-2 box-3"
    "box-1 box-4 box-3"
    "box-5 box-6 box-3";
    }
}

@media(max-width: 40em){
    .gallery-section {
    grid-template-areas:
    "box-1 box-2 box-3"
    "box-4 box-5 box-6";
    }
}

.gallery-section div {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

/* Images */

.gallery-section .box-1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1661877737564-3dfd7282efcb?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(0, 0, 0, 0)
}

.gallery-section .box-2 {
    background-image: url("https://images.unsplash.com/photo-1434648957308-5e6a859697e8?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9vdGJhbGx8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(0, 0, 0, 0)
}

.gallery-section .box-3 {
    background-image: url("https://images.unsplash.com/photo-1581362072978-14998d01fdaa?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHVuaXZlcnNpdHl8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(0, 0, 0, 0)
}

.gallery-section .box-4 {
    background-image: url("https://images.unsplash.com/photo-1658806312303-6815563cd9d8?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGluZm9ybWF0aW9uJTIwdGVjaG5vbG9neXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(0, 0, 0, 0)
}

.gallery-section .box-5 {
    background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(0, 0, 0, 0)
}

.gallery-section .box-6 {
    background-image: url("https://images.unsplash.com/photo-1638569774619-3d8c8da428d9?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmFza2V0YmFsbCUyMHVuaXZlcnNpdHl8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(0, 0, 0, 0)
}


/* Click Commands */
.gallery-section .box-1:active{
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://plus.unsplash.com/premium_photo-1661877737564-3dfd7282efcb?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D") center/cover no-repeat;
    color: rgba(0, 0, 0, 1);
    align-content: center;
    font-size: 30px;
}


.gallery-section .box-2:active{
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://images.unsplash.com/photo-1434648957308-5e6a859697e8?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9vdGJhbGx8ZW58MHx8MHx8fDA%3D") center/cover no-repeat;
    color: rgba(0, 0, 0, 1);
    align-content: center;
    font-size: 30px;
}

.gallery-section .box-3:active{
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://images.unsplash.com/photo-1581362072978-14998d01fdaa?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHVuaXZlcnNpdHl8ZW58MHx8MHx8fDA%3D") center/cover no-repeat;
    color: rgba(0, 0, 0, 1);
    align-content: center;
    font-size: 30px;
}


.gallery-section .box-4:active{
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://images.unsplash.com/photo-1658806312303-6815563cd9d8?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGluZm9ybWF0aW9uJTIwdGVjaG5vbG9neXxlbnwwfHwwfHx8MA==") center/cover no-repeat;
    color: rgba(0, 0, 0, 1);
    align-content: center;
    font-size: 30px;
}


.gallery-section .box-5:active{
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA=") center/cover no-repeat;
    color: rgba(0, 0, 0, 1);
    align-content: center;
    font-size: 30px;
}


.gallery-section .box-6:active{
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://images.unsplash.com/photo-1638569774619-3d8c8da428d9?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmFza2V0YmFsbCUyMHVuaXZlcnNpdHl8ZW58MHx8MHx8fDA=") center/cover no-repeat;
    color: rgba(0, 0, 0, 1);
    align-content: center;
    font-size: 30px;
}